/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/vendor
.DS_Store
.env
.env.*
!.env.example
!.env.production.example
!.env.example.mqtt
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/tmp/
*.zip
*.tar
*.tar.gz
*.sql
*.sqlite
*.pem
*.key
*.p8
*.jks
*.keystore
*-firebase-adminsdk*.json
firebase-adminsdk*.json
GoogleService-Info.plist
google-services.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
